ALLOWED_HOSTS=*
DB_HOST=netbox-postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=your-db-password
REDIS_HOST=netbox-redis
REDIS_PORT=6379
REDIS_PASSWORD=
SECRET_KEY=your-secret-key-minimum-50-characters-long
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=your-password
DB_WAIT_DEBUG=0
